<%= render :partial => "layouts/colourmod_include" %>
<%= render :partial => "color_preview_styles" %>
<!--PAGE TITLE/CALL-TO-ACTION-->
<%# YIELD %>
<div class="page-header-container-outer">
	<div class="page-header-container-inner">
		<h1>Design <small>Customize your weefolio</small></h1>
		
		  <div class="call-to-action">
  		  <%= css_link(@user) %>
  		</div>
	</div>
</div>

<!--PAGE CONTENT-->
<%# YIELD %>
<div class="content-container">

    <% if flash[:warning] or flash[:notice] %>
  		<div id="notice" <% if flash[:warning] %>class="warning"<% end %>>
    <%= flash[:warning] || flash[:notice] %>
  		</div>
	<% end %>

    <%= yield :colour_mod_div %>

		<% if @user.design_type == 1 %>
		 <div class="column primary">
	    <% form_for [@user, @user.design], :html => { :multipart => true } do |f| %>
	    	
	    	<fieldset>
	    		<legend>Header</legend>
	    		<dl>
	    			<dt>
	    				<label for="design_header_image">Header Image</label>
	    			</dt>
	    			<dd>
	    				<%= image_preview_for(@user.design.header_image) %> <%= f.file_field :header_image, :class => 'file' %>
	    			</dd>
	    		</dl>
	    		<legend>Background</legend>
	    		<dl>
	    			<dt>
	    				<label for="design_background_image">Background Image</label>
	    			</dt>
	    			<dd>
	    				<%= image_preview_for(@user.design.background_image) %> <%= f.file_field :background_image, :class => 'file' %>
	    			</dd>
	    		</dl>
	      	</fieldset>
	      	
	      	<fieldset id="design-color">
	      		<legend>Colors</legend>	
	      		<dl>
	      			<dt>
	      				<label for="design_background_color">Background</label>
	      			</dt>
	      			<dd>
	      				<%= f.text_field :background_color, :size => 7, :id => "background_color_field", :onfocus => "pickcolor('#background', 'backgroundColor', true, 'background_color_field', this, -575, -200)" %>
	      				<div class="color-preview" id="background"></div>
	      			</dd>
	      			
	      			<dt>
	      				<label for="design_background_color">Header</label>
	      			</dt>
	      			<dd>
	      				<%= f.text_field :header_color, :size => 7, :id => "header_color_field", :onfocus => "pickcolor('#header_color', 'backgroundColor', true, 'header_color_field', this, -575, -200)" %>
	      				<div class="color-preview" id="header_color"></div>
	      			</dd>
	      			
	      			<dt>
	      				<label for="design_text_color">Text</label>
	      			</dt>
	      			<dd>
	      				<%= f.text_field :text_color, :size => 7, :id => "text_color_field", :onfocus => "pickcolor('#text_color', 'backgroundColor', true, 'text_color_field', this, -575, -200)" %>
	      				<div class="color-preview" id="text_color"></div>
	      			</dd>
	      			
	      			<dt>
	      				<label for="design_title_color">Titles</label>
	      			</dt>
	      			<dd>
	      				<%= f.text_field :title_color, :size => 7, :id => "title_color_field", :onfocus => "pickcolor('#title_color', 'backgroundColor', true, 'title_color_field', this, -575, -200)" %>
	      				<div class="color-preview" id="title_color"></div>
	      			</dd>
	      			
	      			
	      			<dt>
	      				<label for="design_link_color">Links</label>
	      			</dt>
	      			<dd>
	      				<%= f.text_field :link_color, :size => 7, :id => "link_color_field", :onfocus => "pickcolor('#link_color', 'backgroundColor', true, 'link_color_field', this, -575, -200)" %>
	      				<div class="color-preview" id="link_color"></div>
	      			</dd>
	      			
	      			<dt>
	      				<label for="design_link_hover_color">Link Rollovers</label>
	      			</dt>
	      			<dd>
	      				<%= f.text_field :link_hover_color, :size => 7, :id => "link_hover_color_field", :onfocus => "pickcolor('#link_hover_color', 'backgroundColor', true, 'link_hover_color_field', this, -575, -200)" %>
	      				<div class="color-preview" id="link_hover_color"></div>
	      			</dd>
	      			
	      			<dt>
	      				<label for="design_border_color">Border</label>
	      			</dt>
	      			<dd>
	      			<%= f.text_field :border_color, :size => 7, :id => "border_color_field", :onfocus => "pickcolor('#border_color', 'backgroundColor', true, 'border_color_field', this, -575, -200)" %>
	      			<div class="color-preview" id="border_color"></div>
	      			</dd>
	      		</dl>
	      	</fieldset>
	      	
	      	<fieldset>
	      		<legend>Text</legend>
	      		<dl>
	      			<dt>
	      				<label for="design_text_font_1">Font</label>
	      			</dt>
	      			<dd>
	      				<%= f.select :font_family, @design.font_families %>
	      			</dd>
	      			
	      			<dt>
	      				<label for="design_text_size">Size</label>
	      			</dt>
	      			<dd>
	      				<%= f.select :font_size, @design.font_sizes %>
	      			</dd>
	      		</dl>
	      	</fieldset>
	      
	      	<div class="submit" id="save">
	        	<%= f.submit 'Save' %>
	      	</div>
	    <% end %>
		<% else %>
		 <div class="column custom-html">
		  <% form_for [@user, @user.design], :html => { :multipart => true } do |f| %>
		  	
		  	<fieldset>
		    	<legend>Theme</legend>
            <%= f.text_area :user_html, :rows => 20, :class => "code" %>
		  	</fieldset>
		  	
		  	<a class="question" href="/docs/themes">How do I create a custom theme?</a>
		  	
		  	<div class="submit" id="save">
		      <%= f.submit 'Save' %>
		    </div>
		  <% end %>
		<% end %>
		</div>
	</div>



