<!--PAGE TITLE/CALL-TO-ACTION-->
<%# YIELD %>
<div id="page-header-container-outer">
	<div id="page-header-container-inner">
		<h1>Contact <small>Feel free to say hello!</small></h1>
	</div>
</div>

<!--PAGE CONTENT-->
<%# YIELD %>
<div id="content-container">
  
  <p class="intro">
  	Ut laoreet dolore magna aliquam erat volutpat ut! Iis qui facit eorum claritatem Investigationes demonstraverunt, lectores legere me lius quod. Eodem modo typi qui nunc nobis videntur parum clari fiant sollemnes?
  </p>
    <%= flash[:notice] %>
	<!--DUMP ALL OF YOUR SHIT HERE!-->
	<%= form_tag :controller => 'main_pages', :action => 'send_us_mail', :id => @user %>
		<fieldset>
			<h2>Contact Us!</h2>
			<dl>
				<dt>
					<label for="subject">Subject</label>
				</dt>
				<dd>
					<%= text_field_tag :subject %>
				</dd>
				
				<dt>
					<label for="message">Message</label>
				</dt>
				<dd>
					<%= text_area_tag :message %>
				</dd>
			</dl>
		</fieldset>
		
		<div class="submit">
			<%= submit_tag 'Send Message' %>
		</div>
	</form>
</div>


