<!--PAGE TITLE/CALL-TO-ACTION-->
<%# YIELD %>
<div id="page-header-container-outer">
	<div id="page-header-container-inner">
		<h1>Contact <small>Feel free to say hello!</small></h1>
	</div>
</div>

<!--PAGE CONTENT-->
<%# YIELD %>
<div id="content-container">
  
  <p class="intro">
  	Ut laoreet dolore magna aliquam erat volutpat ut! Iis qui facit eorum claritatem Investigationes demonstraverunt, lectores legere me lius quod. Eodem modo typi qui nunc nobis videntur parum clari fiant sollemnes?
  </p>
    
    <% if flash[:warning] or flash[:notice] %>
  		<div id="notice" <% if flash[:warning] %>class="warning"<% end %>>
    <%= flash[:warning] || flash[:notice] %>
  		</div>
	<% end %>
	
	<!--DUMP ALL OF YOUR SHIT HERE!-->
	<%= form_tag :controller => 'main_pages', :action => 'send_us_mail', :id => @user, :html => { :method => :post } %>
		<fieldset>
			<h2>Contact Us!</h2>
			<dl>
			  <%= show_sender_email %>
			  <%= show_name_field %>
				<dt>
					<label for="subject">Subject</label>
				</dt>
				<dd>
					<%= select "subject", :subject, UserMailer::REGARDING.collect { |c| [c[0], c[1]] } %>
				</dd>
				
				<dt>
					<label for="message">Message</label>
				</dt>
				<dd>
					<%= text_area_tag :message %>
				</dd>
			</dl>
		</fieldset>
		
		<div class="submit">
			<%= submit_tag 'Send Message' %>
		</div>
	</form>
</div>


