<!--PAGE TITLE/CALL-TO-ACTION-->
<%# YIELD %>
<div class="page-header-container-outer">
	<div class="page-header-container-inner">
		<!--<div class="welcome-container">
			<h1>Lil' portfolios for<br/> the rest of us!</h1>
			
			<p>
				Weefolio makes it simple to show off your work &amp; customize your portfolio, from colors to custom themes.
			</p>
			
			<div class="sign-up-button">
				<a href="/signup">Sign Up! free!</a>
			</div>
		</div>
		
		<div class="featured-weefolio">
			<img class="banner" src="/images/featured-banner.gif"/>
			
			<a href="#">
				<img class="featured" width="400" height="180" src="/images/featured/kevin_john_gomez.jpg"/>
			</a>
		</div>
	</div>-->
	
	<div class="illustration">
	
	</div>
</div>

<!--PAGE CONTENT-->
<%# YIELD %>
<div class="content-container">
    
    <% if flash[:warning] or flash[:notice] %>
  		<div id="notice" <% if flash[:warning] %>class="warning"<% end %>>
    <%= flash[:warning] || flash[:notice] %>
  		</div>
	<% end %>
	
	<ul class="features">
	<div class="row">
		<li>
			<div class="description">
				<img src="images/feature-setup.gif" width="198" height="100"/>
				
				<h2>Quick Setup</h2>

				<p>
					Sign up and have your own portfolio up and running in seconds!
				</p>
				
				<p>
					<%= link_to 'Sign Up Today!', signup_path %>
				</p>
			</div>
		</li>
		
		<li>
			<div class="description">
				<img src="images/feature-work.gif" width="198" height="100"/>
				
				<h2>Show Off Your Work</h2>

				<p>
					Easily manage, sell, and show off your work.
				</p>
				
				<p>
					<%= link_to 'Artist Directory', directory_path %>
				</p>
			</div>
		</li>
		
		<li>
			<div class="description">
				<img src="images/feature-style.gif" width="198" height="100"/>
				
				<h2>Style Simply</h2>

				<p>
					Customize your design with just a few clicks.
				</p>
				
				<p>
					<%= link_to 'Learn More', help_path %>
				</p>
			</div>
		</li>
	</div>
	
	<div class="row">
		<li>
			<div class="description">
				<img src="images/feature-html.gif" width="198" height="100"/>
				
				<h2>Custom Themes</h2>

				<p>
					Customize anything with your own HTML theme.
				</p>
				
				<p>
					<a href="docs/themes">Learn How</a>
				</p>
			</div>
		</li>
		
		<li>
			<div class="description">
				<img src="images/feature-sale.gif" width="198" height="100"/>
				
				<h2>Cha Ching!</h2>

				<p>
					Link any portfolio piece to your online shop.
				</p>
				
				<p>
					<%= link_to 'Learn More', help_path %>
				</p>
			</div>
		</li>
		
		<li>
			<div class="description">
				<img src="images/feature-rss.gif" width="198" height="100"/>
				
				<h2>Share With RSS</h2>

				<p>
					Keep visitors up-to-date with your portfolio's own RSS feed.
				</p>
				
				<p>
					<%= link_to 'Learn More', help_path %>
				</p>
			</div>
		</li>
	</div>
	</ul>
	
	<% if logged_in? %>
	  <% if current_user.admin? %>
	    Admin Actions
	    <p>
	      <%= link_to 'Users', users_admin_path %> | <%= link_to 'Pieces', pieces_admin_path %> | <%= link_to 'Blog Console', posts_path %>
	    </p>
	  <% end %>
	<% end %>
</div>


