<h1>Weefolio</h1>

<p>
  <%= flash[:notice] %>
</p>

<% if logged_in? %>
  <p>
    <%= image_tag current_user.photo.url %>
  </p>
  <% unless !current_user.has_blank_info %>
    <p>
      <%= link_to 'Update your info', edit_user_path(current_user) %>
    </p>
  <% end %>
  <p>
    <%= link_to 'Portfolio', user_portfolio_path(current_user, current_user.portfolio) %> | Design | <%= link_to 'Account', edit_user_path(current_user) %> | My Weefolio | <%= link_to 'Log Out', logout_path %>
  </p>
<% else %>
  <p>
    <%= link_to 'Sign Up', signup_path %> | <%= link_to 'Log In', login_path %>
  </p>
<% end %>


