<!--PAGE TITLE/CALL-TO-ACTION-->
<%# YIELD %>
<div class="page-header-container-outer">
	<div class="page-header-container-inner">
		<div class="welcome-container">
			<h1>Lil' portfolios for<br/> the rest of us!</h1>
			
			<p>
				Weefolios makes it simple to show of your work &amp; customize your portfolio, from colors to custom themes.
			</p>
			
			<div class="sign-up-button">
				<a href="/signup">Sign Up! free!</a>
			</div>
		</div>
		
		<div class="featured-weefolio">
			<img class="banner" src="/images/featured-banner.gif"/>
			
			<a href="#">
				<img class="featured" width="400" height="150" src="/images/featured/kevin_john_gomez.jpg"/>
			</a>
		</div>
	</div>
</div>

<!--PAGE CONTENT-->
<%# YIELD %>
<div class="content-container">
    
    <% if flash[:warning] or flash[:notice] %>
  		<div id="notice" <% if flash[:warning] %>class="warning"<% end %>>
    <%= flash[:warning] || flash[:notice] %>
  		</div>
	<% end %>
	
	<ul class="features">
		<li>
			<div class="description">
				<h2>Quick setup</h2>

				<p>
					Sign up and you'll have your own portfolio up and running in seconds!
				</p>
				
				<p>
					<%= link_to 'Sign Up Today!', signup_path %>
				</p>
			</div>
		</li>
		
		<li>
			<div class="description">
				<h2>Show off your work</h2>

				<p>
					Easily manage, sell, and show off your work.
				</p>
				
				<p>
					<%= link_to 'Artist Directory', directory_path %>
				</p>
			</div>
		</li>
		
		<li>
			<div class="description">
				<h2>Style simply</h2>

				<p>
					Customize your design with just a few clicks.
				</p>
				
				<p>
					<%= link_to 'Learn More', help_path %>
				</p>
			</div>
		</li>
		
		<li>
			<div class="description">
				<h2>Custom themes</h2>

				<p>
					Customize anything with your own HTML theme.
				</p>
				
				<p>
					<%= link_to 'Learn More', signup_path %>
				</p>
			</div>
		</li>
		
		<li>
			<div class="description">
				<h2>Cha ching!</h2>

				<p>
					Post any portfolio piece with a price and link to your online shop.
				</p>
				
				<p>
					<%= link_to 'Artist Directory', directory_path %>
				</p>
			</div>
		</li>
		
		<li>
			<div class="description">
				<h2>Share with RSS</h2>

				<p>
					Keep visitors up-to-date with your portfolio's RSS feed.
				</p>
				
				<p>
					<%= link_to 'Learn More', help_path %>
				</p>
			</div>
		</li>
	</ul>
	
	<% if logged_in? %>
	  <% if current_user.admin? %>
	    Admin Actions
	    <p>
	      <%= link_to 'Users', users_admin_path %> | <%= link_to 'Pieces', pieces_admin_path %> | <%= link_to 'Blog Console', posts_path %>
	    </p>
	  <% end %>
	<% end %>
</div>


