<!--PAGE TITLE/CALL-TO-ACTION-->
<%# YIELD %>
<div class="page-header-container-outer">
	<div class="page-header-container-inner">
	  <h1>Login<small></small></h1>
	</div>
</div>

<!--PAGE CONTENT-->
<%# YIELD %>
<div class="content-container">
	  <% if flash[:warning] or flash[:notice] %>
	  		<div id="notice" <% if flash[:warning] %>class="warning"<% end %>>
	    <%= flash[:warning] || flash[:notice] %>
	  		</div>
		<% end %>

	<div class="column primary">  
		<% form_tag session_path do %>
			<fieldset>
				<legend>Login</legend>
				<dl>
				    <dt>
				      <label for="login">Username</label>
				    </dt>
				    <dd>
				      <%= text_field_tag 'login', @login, :size => 30 %>
				    </dd>
				
				    <dt>
				      <label for="password">Password</label>
				    </dt>
				    <dd>
				      <%= password_field_tag 'password', nil, :size => 30 %>
				    </dd>
				    
				    <dt>&nbsp;</dt>
				    <dd><%= link_to 'Forgot your password?', forgot_password_path, :class => "question" %></dd>
	    		</dl>
	    	</fieldset>
	    	
	    	<div class="submit" id="login">
	    	  <%= submit_tag 'Login' %>
	    	</div>
		<% end %>
	</div>
	
	<div class="column secondary">
	 <ul class="widgets">
	  	<li class="sign-up">
	  	 <h2>No Account?</h2>
	  	 
	  	 <p>
 	    <%= link_to 'Sign up', signup_path %> for <strong><em>free</em></strong> &amp; upgrade anytime!
 	   </p>
	   </li>
	 </ul>
	</div>
</div>
	





