<!--PAGE TITLE/CALL-TO-ACTION-->
<%# YIELD %>
<div class="page-header-container-outer">
	<div class="page-header-container-inner">
		<h1>Themes <small>Choose from our ever growing gallery of Weefolio themes!</small></h1>
	</div>
</div>

<!--PAGE CONTENT-->
<%# YIELD %>
<div class="content-container">
	<div class="column">  
		<ul class="themes">
		  <% @themes.each do |theme| %>
		   <% if theme.connected? %>
		     <li class="theme">
    		  <div class="image">
    		    <%= image_tag theme.photo.url(:thumbnail), :class => "thumbnail", :width => "230", :height => "150" %>
    		    <div class="options">
    		      <%= link_to "Preview", theme_path(theme), :class => "button preview" %>
    		      <%= link_to "Install", install_theme_path(theme), :class => "button install" %>
    		   </div>
    		  </div>
		  
    		  <div class="info">
    		   <h2><%= theme.name %></h2>
    		   <% unless theme.author_name.blank? %>
    		      <p>by <%= link_to theme.author_name, user_portfolio_path(theme.author_name) %></p>
    		   <% end %>
    		  </div>
    		 </li>
    	<% end %>
  	<% end %>
		</ul>
	</div>
</div>


