<!--PAGE TITLE/CALL-TO-ACTION-->
<%# YIELD %>
<div id="page-header-container-outer">
	<div id="page-header-container-inner">
		<h1>Portfolio<small>  Manage your Weefolio</small></h1>
		
		<div class="call-to-action">
			<!--THIS IS WHERE YOU CAN PUT 'ADD NEW WORK' LINKS ETC.
			<a href="#">Call to action!</a>
			-->
			<p>
        <%= link_to 'Add Work', new_portfolio_piece_path(@user.portfolio) %>
      </p>
		</div>
	</div>
</div>

<!--PAGE CONTENT-->
<%# YIELD %>
<div id="content-container">
  <p>
    <%= flash[:notice] %>
  </p>
	<!--DUMP ALL OF YOUR SHIT HERE!-->
	<% @portfolio.pieces.each do |piece| %>
    <p>
      <%= piece.title %>
    </p>
    <p> 
      <%= piece.description %>
    </p>
    <p>
      <%= image_tag piece.image_1.url(:large_thumb) %>
      <% unless @user.account_tier == 1 %>
        <%= image_tag piece.image_2.url(:large_thumb) %> 
        <%= image_tag piece.image_3.url(:large_thumb) %> 
        <%= image_tag piece.image_4.url(:large_thumb) %> 
        <%= image_tag piece.image_5.url(:large_thumb) %>
      <% end %>
    </p>
    <p>
      <%= link_to 'Edit', edit_portfolio_piece_path(@portfolio, piece)%> | <%= link_to 'Delete', portfolio_piece_path(@portfolio, piece), :confirm => "Are you sure?", :method => :delete %>
    </p>
  <% end %>
</div>
