<!--PAGE TITLE/CALL-TO-ACTION-->
<%# YIELD %>
<div id="page-header-container-outer">
	<div id="page-header-container-inner">
		<h1>Portfolio<small> Manage your work</small></h1>
		
		<div class="call-to-action" id="portfolio-add-work">
			 <%= link_to 'Add Work', new_portfolio_piece_path(@user.portfolio) %>
		</div>
	</div>
</div>

<!--PAGE CONTENT-->
<%# YIELD %>
<div id="content-container">
  
    <%= flash[:notice] %>
 
  <p class="count">You're using <strong><%= @user.portfolio.pieces.count %></strong> of your <strong><%= @user.portfolio.max_pieces %></strong> pieces.</p>
  
  <ul class="pieces">
  	<% @user.portfolio.pieces.each do |piece| %>
  	<li class="piece">
  		<%= image_tag piece.image_1.url(:small_thumb) %>
  		
  		<div class="piece-info">	
  			<h3><a href="#"><%= piece.title %></a></h3>
  			<p><%= piece.description %></p>
  		</div>
  		
  		<ul class="piece-options">
  			<li class="option" id="edit">
  				<%= link_to 'Edit', edit_portfolio_piece_path(@user.portfolio, piece)%>
  			</li>
  			<li class="option" id="delete">
  				<%= link_to 'Delete', portfolio_piece_path(@user.portfolio, piece), :confirm => "Are you sure?", :method => :delete %>
  			</li>
  		</ul>
  	</li>
  	<% end %>
  </ul>
</div>
