<% content_for :head do %>
  <%= javascript_include_tag :defaults %>
<% end %>
<!--PAGE TITLE/CALL-TO-ACTION-->
<%# YIELD %>
<div class="page-header-container-outer">
	<div class="page-header-container-inner">
		<h1>Portfolio<small> Manage your work</small></h1>
		
		<div class="call-to-action" id="portfolio-add-work">
			 <%= link_to 'Add Work', new_portfolio_piece_path(@user.portfolio) %>
		</div>
	</div>
</div>

<!--PAGE CONTENT-->
<%# YIELD %>
<div class="content-container">
	<div class="column">
	    <% if flash[:warning] or flash[:notice] %>
	  		<div id="notice" <% if flash[:warning] %>class="warning"<% end %>>
	    <%= flash[:warning] || flash[:notice] %>
	  		</div>
		<% end %>
	 
		<!--<p class="intro">You're using <strong><%=h @portfolio.pieces.count %></strong> of your <strong><%=h @portfolio.max_pieces %></strong> pieces.</p>-->
		
		<div class="page-controls">
		  <div class="order">
		    <span><strong>Drag</strong> portfolio pieces to re-order.</span>
		  </div>
		  
		  <div class="view">
		    <ul>
		      <li class="list selected"><a href="#">List</a></li>
		      <li class="expanded-list"><a href="#">Expanded List</a></li>
		      <li class="grid"><a href="#">Grid</a></li>
		    </ul>
		  </div>
		</div>
		
		<!--<ul class="pieces" id="pieces">
			<% @portfolio.pieces.each do |piece| %>
			<% content_tag_for :li, piece do %>
			  <% unless piece.image_uploads.blank? %>
				  <%= image_tag piece.image_uploads.first.image.url(:small_thumb) %>
				<% else %>
				  <img width="70" height="70" src="/images/no-image.gif" alt="No Image"/>
				<% end %>
				
				<div class="piece-info">	
					<h3><%= link_to piece.title, edit_portfolio_piece_path(@portfolio, piece)%></h3>
					<p><%=h truncate(piece.description, :length => 200) %></p>
				</div>
				
				<ul class="piece-options">
					<li class="option" id="edit">
						<%= link_to 'Edit', edit_portfolio_piece_path(@portfolio, piece)%>
					</li>
					<li class="option" id="delete">
						<%= link_to 'Delete', portfolio_piece_path(@portfolio, piece), :confirm => "Are you sure?", :method => :delete %>
					</li>
				</ul>-->
			<% end %>
			<% end %>
		</ul>
	</div>
</div>

<%= sortable_element('pieces', :url => sort_pieces_path, :handle => 'piece') %>
