<!--PAGE TITLE/CALL-TO-ACTION-->
<%# YIELD %>
<div id="page-header-container-outer">
	<div id="page-header-container-inner">
		<h1>Portfolio<small> Manage your work</small></h1>
		
		<div class="call-to-action" id="portfolio-add-work">
			 <%= link_to 'Add Work', new_portfolio_piece_path(@user.portfolio) %>
		</div>
	</div>
</div>

<!--PAGE CONTENT-->
<%# YIELD %>
<div id="content-container">
  
    <%= flash[:notice] %>
  
	<!--DUMP ALL OF YOUR SHIT HERE!-->
	<% @portfolio.pieces.each do |piece| %>
    <p>
      <%= piece.title %>
    </p>
    <p> 
      <%= piece.description %>
    </p>
    <p>
      <%= image_tag piece.image_1.url(:large_thumb) %>
      <% unless @user.account_tier == 1 %>
        <%= image_tag piece.image_2.url(:large_thumb) %> 
        <%= image_tag piece.image_3.url(:large_thumb) %> 
        <%= image_tag piece.image_4.url(:large_thumb) %> 
        <%= image_tag piece.image_5.url(:large_thumb) %>
      <% end %>
    </p>
    <p>
      <%= link_to 'Edit', edit_portfolio_piece_path(@portfolio, piece)%> | <%= link_to 'Delete', portfolio_piece_path(@portfolio, piece), :confirm => "Are you sure?", :method => :delete %>
    </p>
  <% end %>
 
  <p class="intro">You're using <strong><%= @portfolio.pieces.count %></strong> of your <strong><%= @portfolio.max_pieces %></strong> pieces.</p>
  
  <ul class="pieces">
  	<% @portfolio.pieces.each do |piece| %>
  	<li class="piece">
  		<%= image_tag piece.image_1.url(:small_thumb) %>
  		
  		<div class="piece-info">	
  			<h3><a href="#"><%= piece.title %></a></h3>
  			<p><%= piece.description %></p>
  		</div>
  		
  		<ul class="piece-options">
  			<li class="option" id="edit">
  				<%= link_to 'Edit', edit_portfolio_piece_path(@portfolio, piece)%>
  			</li>
  			<li class="option" id="delete">
  				<%= link_to 'Delete', portfolio_piece_path(@portfolio, piece), :confirm => "Are you sure?", :method => :delete %>
  			</li>
  		</ul>
  	</li>
  	<% end %>
  </ul>
</div>
