<!--PAGE TITLE/CALL-TO-ACTION-->
<%# YIELD %>
<div id="page-header-container-outer">
	<div id="page-header-container-inner">
		<h1>My Weefolio<small> This is my Weefolio.</small></h1>
		
		<div class="call-to-action">
			<!--THIS IS WHERE YOU CAN PUT 'ADD NEW WORK' LINKS ETC.
			<a href="#">Call to action!</a>
			-->
			<p>
        <%= link_to 'RSS', user_portfolio_path(@user, @portfolio, :rss) %>
      </p>
		</div>
	</div>
</div>

<!--PAGE CONTENT-->
<%# YIELD %>
<div id="content-container">
	<!--DUMP ALL OF YOUR SHIT HERE!-->
	<% @portfolio.pieces.each do |piece| %>
    <p>
      <%= piece.title %>
    </p>
    <p> 
      <%= piece.description %>
    </p>
    <p>
      <%= image_tag piece.image_1.url(:large_thumb) %>
      <% unless @user.account_tier == 1 %>
        <%= image_tag piece.image_2.url(:large_thumb) %> 
        <%= image_tag piece.image_3.url(:large_thumb) %> 
        <%= image_tag piece.image_4.url(:large_thumb) %> 
        <%= image_tag piece.image_5.url(:large_thumb) %>
      <% end %>
    </p>
  <% end %>
</div>



