<!--PAGE TITLE/CALL-TO-ACTION-->
<%# YIELD %>
<div id="page-header-container-outer">
	<div id="page-header-container-inner">
		<h1>Account <small>Manage your account settings</small></h1>
		
		<div class="call-to-action">
			<a href="#">Cancel my Account</a>
		</div>
	</div>
</div>

<!--PAGE CONTENT-->
<%# YIELD %>
<div id="content-container">
    <%= flash[:notice] %>
	<!--DUMP ALL OF YOUR SHIT HERE!-->
	<% form_for @user, :html => {:multipart => true}  do |f| %>
		<fieldset>
			<h2>Personal</h2>
			
    		<dl>
    			<dt>
     				 <label for="user_first_name">First Name</label>
      			</dt>
      			<dd>
      				<%= f.text_field :first_name %>
    			</dd>
    			
			    <dt>
			      <label for="user_last_name">Last Name</label>
			    </dt>
      			<dd>
			      <%= f.text_field :last_name %>
			    </dd>
			    
			    <dt>
			      <label for="user_login">Username</label>
			    </dt>
      			<dd>
			      <%= f.text_field :login %>
			      <p>This is how we and others in the Weefolio community will address you.</p>
			    </dd>
			
			    <dt>
			      <label for="user_email">Email</label>
			    </dt>
      			<dd>
			      <%= f.text_field :email %>
			      <p>This is where we'll send information regarding you account.</p>
			    </dd>
			    
			    <dt>
			    	<label>Avatar</label>
			    </dt>
			    <dd>
			      <%= f.file_field :photo %>
			    </dd>
			 </dl>
		</fieldset>
			 
		<fieldset>
			<h2>Portfolio</h2>
			
			 <dl>
			    <dt>
			     	<label for="user_tag_line">Tagline</label>
			    </dt>
      			<dd>
			      <%= f.text_field :tag_line %>
			      <p>This is whatever you want it to be. It can be a welcome message, a catch phrase, or just something you always say. If you don't want your tagline to appear in your portfolio simply leave the field blank.</p>
			    </dd>
			    
			  	<dt>
			      <label for="user_about_me">About Me</label>
			    </dt>
      			<dd>
			      <%= f.text_area :about_me, :rows => 8 %>
			    </dd>
    		</dl>
    	</fieldset>
    	
    	<fieldset>
			<h2>Billing</h2>
			
			<dl>
				<dt>
					Plan
				</dt>
				<dd>
					<ul>
						<li><input type="radio" name="account_tier" value="basic" onclick="hide_billing()" /> <label>Basic (Free)</label></li>
						<li><input type="radio" name="account_tier" value="plus" onclick="show_billing()" /> <label>Plus ($2.99/month)</label></li>
						<li><input type="radio" name="account_tier" value="pro" onclick="show_billing()" /> <label>Pro ($4.99/month)</label></li>
					</ul>
				</dd>
			<div id="billing_info">
				<dt>
					<label>Card Type</label>
				</dt>
				<dd>
					<select>
						<option>Mastercard</option>
						<option>Visa</option>
						<option>Discovery</option>
						<option>American Express</option>
					</select>
				</dd>
				
				<dt>
					<label>Card Number</label>
				</dt>
				<dd>
					<input type="text" size="16"/>
				</dd>
				
				<dt>
					<label>Card Verification</label>
				</dt>
				<dd>
					<input type="text" size="3"/>
				</dd>
				
				<dt>
					<label>Card Expiration</label>
				</dt>
				<dd>
					<select>
						<option>01</option>
					</select>
					<select>
						<option>2009</option>
					</select>
				</dd>
			</div>
			</dl>
		</fieldset>
    	
    	<div class="submit">
			      <%= f.submit 'Save' %>
    	</div>
  <% end %>
</div>