<!--PAGE TITLE/CALL-TO-ACTION-->
<%# YIELD %>
<div class="page-header-container-outer">
	<div class="page-header-container-inner">
		<h1>Pricing &amp; Sign Up <small>Sign up for <strong>free</strong> &amp; upgrade anytime!</small></h1>
		
		<div class="pricing">
			<table class="chart" cellpadding="0" cellspacing="0">
				<tr class="plans">
					<th>
						&nbsp;
					</th>
					<th class="dark">
						Basic
					</th>
					<th>
						Plus
					</th>
					<th class="dark">
						Pro
					</th>
				</tr>
				
				<tr class="pieces">
					<td class="feature">
						Pieces
					</td>
					<td class="dark">
						5
					</td>
					<td>
						15
					</td>
					<td class="dark">
						25
					</td>
				</tr>
				
				<tr class="images">
					<td class="feature">
						Images Per Piece
					</td>
					<td class="dark">
						1
					</td>
					<td>
						3
					</td>
					<td class="dark">
						5
					</td>
				</tr>
				
				<tr class="design">
					<td class="feature">
						Design Editor
					</td>
					<td class="dark">
						<img src="images/feature-dot.png" alt="yes"/>
					</td>
					<td>
						<img src="images/feature-dot.png" alt="yes"/>
					</td>
					<td class="dark">
						<img src="images/feature-dot.png" alt="yes"/>
					</td>
				</tr>
				
				<tr class="css">
					<td class="feature">
						Custom HTML
					</td>
					<td class="dark">
						&nbsp;
					</td>
					<td>
						<img src="images/feature-dot.png" alt="yes"/>
					</td>
					<td class="dark">
						<img src="images/feature-dot.png" alt="yes"/>
					</td>
				</tr>
				
				<tr class="rss">
					<td class="feature">
						RSS Feed 
					</td>
					<td class="dark">
						<img src="images/feature-dot.png" alt="yes"/>
					</td>
					<td>
						<img src="images/feature-dot.png" alt="yes"/>
					</td>
					<td class="dark">
						<img src="images/feature-dot.png" alt="yes"/>
					</td>
				</tr>
				
				<tr class="for-sale">
					<td class="feature">
						For Sale 
					</td>
					<td class="dark">
						&nbsp;
					</td>
					<td>
						<img src="images/feature-dot.png" alt="yes"/>
					</td>
					<td class="dark">
						<img src="images/feature-dot.png" alt="yes"/>
					</td>
				</tr>
				
				<tr class="watermark">
					<td class="feature">
						Weefolio Badge
					</td>
					<td class="dark">
						<img src="images/feature-dot.png" alt="yes"/>
					</td>
					<td>
						Optional
					</td>
					<td class="dark">
						Optional
					</td>
				</tr>
				
				<tr class="pricing">
					<td class="feature">
						&nbsp; 
					</td>
					<td>
						<span class="price">free</span>
					</td>
					<td>
						<span class="price">$2.99</span> /month
					</td>
					<td>
						<span class="price">$4.99</span> /month
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<!--PAGE CONTENT-->
<%# YIELD %>
<div class="content-container">
	<div class="column">
		<% if flash[:warning] or flash[:notice] %>
				<div id="notice" <% if flash[:warning] %>class="warning"<% end %>>
		<%= flash[:warning] || flash[:notice] %>
				</div>
		<% end %>
		
		<% @user.password = @user.password_confirmation = nil %>
		
		<%= error_messages_for :user %>
		
		<% form_for(User.new) do |f| %>
			
		<fieldset>
			<h2>Sign up for <strong><em>free</em></strong> &amp; upgrade anytime!</h2>
		    <dl>
		    	<dt>
		    		<%= f.label :login, 'Username' %>
		    	</dt>
		    	<dd>
		      		<%= f.text_field :login %>
		      		<p>This is how we and others in the Weefolio community will address you.</p>
		      	</dd>
		      
		      	<dt>
		      		<label for="user_email">Email</label>
		      	</dt>
		    	<dd>
		      		<%= f.text_field :email %>
		      		<p>This is where we'll send information regarding you account.</p>
		      	</dd>
		      
		      	<dt>
		      		<%= f.label :password, "Password" %>
		      	</dt>
		    	<dd>
		      		<%= f.password_field :password %>
		      	</dd>
		      
		      	<dt>
		      		<%= f.label :password_confirmation, "Confirm Password" %>
		      	</dt>
		    	<dd>
		      		<%= f.password_field :password_confirmation %>
		      </dd>
		    </dl>    
		</fieldset>
		
		<div class="submit" id="sign-up">
		  <%= f.submit 'Sign Up' %>
		</div>
		<% end %>
	</div>
</div>


