<!--PAGE TITLE/CALL-TO-ACTION-->
<%# YIELD %>
<div id="page-header-container-outer">
	<div id="page-header-container-inner">
		<div class="welcome-container">

		</div>
	</div>
</div>

<!--PAGE CONTENT-->
<%# YIELD %>
<div id="content-container">
  <p>
    <%= flash[:notice] %>
  </p>
	<!--DUMP ALL OF YOUR SHIT HERE!-->
  <small><i>All fields must be filled in.</i></small>
  <% form_for :user do |f| %>
    <p>
      <%= f.label :login %><br />
      <%= f.text_field :login %>
    </p>
    <p>
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label :new_password %><br />
      <%= f.password_field :new_password %>
    </p>
    <p>
      <%= f.label :new_password_confirm %><br />
      <%= f.password_field :new_password_confirm %>
    </p>
    <p>
      <%= f.submit 'Reset Password' %>
    </p>
  <% end %>
</div>


