<!--PAGE TITLE/CALL-TO-ACTION-->
<%# YIELD %>
<div id="page-header-container-outer">
	<div id="page-header-container-inner">
		<h1>Forgot your password? <small></small></h1>
	</div>
</div>

<!--PAGE CONTENT-->
<%# YIELD %>
<div id="content-container">
    <%= flash[:notice] %>
	<!--DUMP ALL OF YOUR SHIT HERE!-->
  <% form_for :user do |f| %>
  	<fieldset>
  		<h2>Reset account password</h2>
  		<dl>
		    <dt>
		      <%= f.label :login %>
		    </dt>
		    <dd>
		      <%= f.text_field :login %>
		    </dd>
		    
		    <dt>
		      <%= f.label :email %>
		    </dt>
		    <dd>
		      <%= f.text_field :email %>
		    </dd>
		    
		    <dt>
		      <%= f.label :new_password %>
		    </dt>
		    <dd>
		      <%= f.password_field :new_password %>
		    </dd>
		    
		    <dt>
		      <%= f.label :new_password_confirm %>
		    </dt>
		    <dd>
		      <%= f.password_field :new_password_confirm %>
		    </dd>
	    </dl>
    </fieldset>
    
    <div class="submit">
		<%= f.submit 'Reset Password' %>
	</div>
  <% end %>
</div>


