<% form_for [@portfolio, @piece], :html => {:multipart => true} do |f| %>
	<fieldset>
		<h2>Piece</h2>
		<dl>
			<dt>
				<label for="piece_title">Title</label>
			</dt>
			<dd>
				<%= f.text_field :title %>
			</dd>
			
			  <dt>
			    <label for="piece_description">Description</label>
			    </dt>
				<dd>
			    <%= f.text_area :description, :rows => 8 %>
			  </dd>
			  
			  <dt>
			    <%= f.label :image_1, 'Image' %>
			  </dt>
				<dd>
			    <%= f.file_field :image_1 %>
			  </dd>
			  <dd>
			    <%= show_image_unless_new_record(@piece, @piece.image_1) %>
			  </dd>
			  <% unless current_user.plan.level == 1 %>
			    
			   <dt>
			      <label for="piece_image_2">Image #2</label>
			       </dt>
				<dd>
			      <%= f.file_field :image_2 %>
			    </dd>
			    <dd>
  			    <%= show_image_unless_new_record(@piece, @piece.image_2) %>
  			  </dd>
			    
			    <dt>
			      <label for="piece_image_3">Image #3</label>
			       </dt>
				<dd>
			      <%= f.file_field :image_3 %>
			    </dd>
			    <dd>
  			    <%= show_image_unless_new_record(@piece, @piece.image_3) %>
  			  </dd>
			  <% if @portfolio.account_tier == 3 %>
			    <dt>
			      <label for="piece_image_4">Image #4</label>
			       </dt>
				<dd>
			      <%= f.file_field :image_4 %>
			    </dd>
			    <dd>
  			    <%= show_image_unless_new_record(@piece, @piece.image_4) %>
  			  </dd>
			    
			    <dt>
			      <%= f.label :image_5 %>
			       </dt>
				<dd>
			      <%= f.file_field :image_5 %>
			    </dd>
			    <dd>
  			    <%= show_image_unless_new_record(@piece, @piece.image_5) %>
  			  </dd>
			  <% end %>
			  <% end %>
			  <dt>
			    <label for="piece_client_name">Client</label>
			  </dt>
			  <dd>
			    <%= f.text_field :client_name %>
			  </dd>
			  <dt>
			    <label for="piece_service_type">Service</label>
			  </dt>
			  <dd>
			    <%= f.select :service_type, @service_types %>
			  </dd>
			  <dt>
			    &nbsp;
			     </dt>
			  <% unless current_user.plan.level == 1 %>
				  <dd>
			      <%= f.check_box :for_sale, :onclick => 'toggle_price_field()' %> <label for="piece_for_sale">For Sale?</label>
			    </dd>
			  
			    <div id="piece_price">
			      <dt>
			        <label for="piece_price">Price</label>
			      </dt>
				    <dd>
			        <%= f.text_field :price, :size => 8 %>
			      </dd>
			      <dt>
			        <label for="piece_sale_url">Product URL</label>
			      </dt>
			      <dd>
		          <%= f.text_field :sale_url %>
		        </dd>
			    </div>
			  <% end %>
  		</dl>
	</fieldset>
	
	<div class="submit" id="save">
		 <%= form_button(@piece, f)%>	
	</div>
<% end %>