<% form_for [@portfolio, @piece], :html => {:multipart => true} do |f| %>
	<fieldset>
		<h2>Piece</h2>
		<dl>
			<dt>
				<label for="piece_title">Title</label>
			</dt>
			<dd>
				<%= f.text_field :title %>
			</dd>
			
			  <dt>
			    <label for="piece_description">Description</label>
			    </dt>
				<dd>
			    <%= f.text_area :description, :rows => 8 %>
			  </dd>
			  </dl>
		</fieldset>
		<fieldset>
		  <h2>Additional</h2>	  
		    <dl>
			  <dt>
			    <label for="piece_client_name">Client</label>
			  </dt>
			  <dd>
			    <%= f.text_field :client_name %>
			  </dd>
			  <dt>
			    <label for="piece_service_type">Service</label>
			  </dt>
			  <dd>
			    <%= f.select :service_type, @service_types %>
			  </dd>
			  <dt>
			    &nbsp;
			     </dt>
			  <% unless current_user.plan.level == 1 %>
				  <dd>
			      <%= f.check_box :for_sale, :onclick => 'toggle_price_field()' %> <label for="piece_for_sale">For Sale?</label>
			    </dd>
			  
			    <div id="piece_price">
			      <dt>
			        <label for="piece_price">Price</label>
			      </dt>
				    <dd>
			        <%= f.text_field :price, :size => 8 %>
			      </dd>
			      <dt>
			        <label for="piece_sale_url">Product URL</label>
			      </dt>
			      <dd>
		          <%= f.text_field :sale_url %>
		        </dd>
			    </div>
			  <% end %>
  		</dl>
	</fieldset>
	
	<div class="submit" id="save">
		 <%= form_button(@piece, f)%>	
	</div>
<% end %>