<% form_for [@portfolio, @piece], :html => {:multipart => true} do |f| %>
	<fieldset>
		<h2>Piece</h2>
		<dl>
			<dt>
				<label for="piece_title">Title</label>
			</dt>
			<dd>
				<%= f.text_field :title %>
			</dd>
			
			  <dt>
			    <label for="piece_description">Description</label>
			    </dt>
				<dd>
			    <%= f.text_area :description, :rows => 8 %>
			  </dd>
			  
			  <dt>
			    <%= f.label :image_1, 'Image' %>
			     </dt>
				<dd>
			    <%= f.file_field :image_1 %>
			  </dd>
			  <% unless @portfolio.account_tier == 1 %>
			    
			   <dt>
			      <label for="piece_image_2">Image #2</label>
			       </dt>
				<dd>
			      <%= f.file_field :image_2 %>
			    </dd>
			    
			    <dt>
			      <label for="piece_image_3">Image #3</label>
			       </dt>
				<dd>
			      <%= f.file_field :image_3 %>
			    </dd>
			    
			    <dt>
			      <label for="piece_image_4">Image #4</label>
			       </dt>
				<dd>
			      <%= f.file_field :image_4 %>
			    </dd>
			    
			    <dt>
			      <%= f.label :image_5 %>
			       </dt>
				<dd>
			      <%= f.file_field :image_5 %>
			    </dd>
			  <% end %>
			  <dt>
			    &nbsp;
			     </dt>
				<dd>
			    <%= f.check_box :for_sale, :onclick => 'show_price_field()' %> <label for="piece_for_sale">For Sale?</label>
			  </dd>
			  
			  <div id="piece_price">
			    <dt>
			      <label for="piece_price">Price</label>
			    </dt>
				  <dd>
			      <%= f.text_field :price, :size => 8 %>
			    </dd>
			  </div>
  		</dl>
	</fieldset>
	
	<div class="submit">
		 <%= form_button(@piece, f)%>	
	</div>
<% end %>