<% form_for [@portfolio, @piece], :html => {:multipart => true} do |f| %>
 <div class="column primary">
	<fieldset>
		<legend>Piece</legend>
		<dl>
			<dt>
				<label for="piece_title">Title</label>
			</dt>
			<dd>
				<%= f.text_field :title %>
			</dd>
			
			  <dt>
			    <label for="piece_description">Description</label>
			    </dt>
				<dd>
			    <%= f.text_area :description, :rows => 8, :cols => 36 %>
			  </dd>
			  
			  <dt>
			    <%= f.label :image_1, 'Images' %>
			  </dt>
			  <dd>
			    <%= show_image_unless_new_record(@piece, @piece.image_1) %> <%= f.file_field :image_1, :class => 'file' %>

			  <% unless current_user.plan.level == 1 %>

  			    <%= show_image_unless_new_record(@piece, @piece.image_2) %> <%= f.file_field :image_2, :class => 'file' %>

  			    <%= show_image_unless_new_record(@piece, @piece.image_3) %> <%= f.file_field :image_3, :class => 'file' %>

			  <% if @portfolio.account_tier == 3 %>

  			    <%= show_image_unless_new_record(@piece, @piece.image_4) %> <%= f.file_field :image_4, :class => 'file' %>

  			    <%= show_image_unless_new_record(@piece, @piece.image_5) %> <%= f.file_field :image_5, :class => 'file' %>
  			  </dd>
			  <% end %>
			  <% end %>
			  </dl>
		</fieldset>

		<fieldset>
		  <legend>Additional</legend>	  
		    <dl>
			  <dt>
			    <label for="piece_client_name">Client</label>
			  </dt>
			  <dd>
			    <%= f.text_field :client_name %>
			  </dd>
			  <dt>
			    <label for="piece_service_type">Service</label>
			  </dt>
			  <dd>
			    <%= f.select :service_type, @service_types %>
			  </dd>
			  <dt>
			    &nbsp;
			     </dt>
			  <% unless current_user.plan.level == 1 %>
				  <dd>
			      <%= f.check_box :for_sale, :onclick => 'toggle_price_field()' %> <label for="piece_for_sale">For Sale?</label>
			    </dd>
			  
			    <div id="piece_price">
			      <dt>
			        <label for="piece_price">Price</label>
			      </dt>
				    <dd>
			        <%= f.text_field :price, :size => 8 %>
			      </dd>
			      <dt>
			        <label for="piece_sale_url">Product URL</label>
			      </dt>
			      <dd>
		          <%= f.text_field :sale_url %>
		        </dd>
			    </div>
			  <% end %>
  		</dl>
	</fieldset>
	
	<div class="submit" id="save">
		 <%= form_button(@piece, f)%>	
	</div>

<% end %>
		</div>
<div class="column secondary">
 <ul class="widgets">
  <li class="piece-count upgrade">
   <h2>Upgrade!</h2>
   <p>You're using <strong><%=h @portfolio.pieces.count %></strong> of your <strong><%=h @portfolio.max_pieces %></strong> pieces.</p>
   
   <p>For additional pieces, images, &amp; other features, <a href="#">upgrade</a> to a <strong>Plus</strong> or <strong>Pro</strong> account.</p>
  </li>
 </ul>
</div>