<div class="@piece-container">
  <div class="image-container" id=<%=h @piece.id %>>
    <%= image_tag @piece.image_1.url(:full_size) %>
  </div>

  <ul class="thumb-grid">
    <li><a id=<%= @piece.image_1.url(:full_size) %> onclick="switch_large_image(this, <%=h @piece.id %>)"><%= image_tag @piece.image_1.url(:small_thumb) %></a></li>
  <% unless @user.account_tier == 1 %>
	  <li><a id=<%= @piece.image_2.url(:full_size) %> onclick="switch_large_image(this, <%=h @piece.id %>)"><%= image_tag @piece.image_2.url(:small_thumb) %></a></li>
	  <li><a id=<%= @piece.image_3.url(:full_size) %> onclick="switch_large_image(this, <%=h @piece.id %>)"><%= image_tag @piece.image_3.url(:small_thumb) %></a></li>
	<% unless @user.account_tier == 3 %>
	  <li><a id=<%= @piece.image_4.url(:full_size) %> onclick="switch_large_image(this, <%=h @piece.id %>)"><%= image_tag @piece.image_4.url(:small_thumb) %></a></li>
	  <li><a id=<%= @piece.image_5.url(:full_size) %> onclick="switch_large_image(this, <%=h @piece.id %>)"><%= image_tag @piece.image_5.url(:small_thumb) %></a></li>
	<% end %>
	<% end %>
  </ul>

  <div class="@piece-info">
	  <h2>
	    <%=h @piece.title %>
	    <% if @piece.for_sale %>
	      <span class="for-sale"><%=h @piece.display_price %></span>
	    <% end %>
	  </h2>
	  <p>
	    <%=h @piece.description %>
	  </p>
  </div>
</div>
