<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :author_name %><br />
  <%= f.text_field :author_name %>
</p>
<p>
  <%= f.label :directory_name %><br />
  <%= f.text_field :directory_name %>
</p>
<p>
  <%= f.label :template_filename %><br />
  <%= f.text_field :template_filename %>
</p>
<p>
  <%= f.label :photo %><br />
  <%= f.file_field :photo %>
</p>
<p>
  <%= f.label :description %><br />
  <%= f.text_area :description %>
</p>
<p>
  <%= f.submit "Save" %>
</p>