<h1>Themes</h1>

<%= will_paginate @themes %>
<p>
  <%= link_to "Add a Theme", new_admin_theme_path %>
</p>

  <table>
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Author</th>
        <th>Pathname</th>
        <th>Connection</th>
      </tr>
    </thead>
    <tbody>
      <% if @themes.blank? %>
        <tr>
          <td colspan="4">No themes : [</td>
        </tr>
      <% else %>
        <% @themes.each do |theme| %>
          <tr>
            <td>
              <%= link_to image_tag(theme.photo.url(:small)), edit_admin_theme_path(theme) %>
            </td>
            <td>
              <%= link_to theme.name, edit_admin_theme_path(theme) %>
            </td>
            <td>
              <%= theme.author_name %>
            </td>
            <td>
              <%= theme.pathname %>
            </td>
            <td>
              <%= theme.connected? ? 'THUMBS UP' : 'THUMBS DOWN' %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
