<h1>Weefolio Blog</h1>

<p>
  <%= flash[:notice] %>
</p>

<% if logged_in? %>
  <% if current_user.admin? %>
    <p>
      <%= link_to 'New Post', new_post_path %>
    </p>
  <% end %>
<% end %>

<% for post in @posts %>
  <p>
    <%= link_to h(post.title), post_path(post) %>
    <% if logged_in? %>
      <% if current_user.admin? %>
        | <%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Delete', post_path(post), :confirm => "Are you sure?", :method => :delete %>
      <% end %>
    <% end %>
  </p>
<% end %>
