<h1>Create a New Post</h1>

<% form_for(@post) do |f| %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :author %><br />
    <%= f.text_field :author, :value => current_user.login %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </p>
  <p>
    <%= f.submit 'Publish' %>
  </p>
<% end %>

<p>
  <%= link_to 'Back', posts_path %>
</p>