<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

	<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

	<head>
		<title><%= @page_title %></title>
		<%= stylesheet_link_tag 'screen' %>
		<%= javascript_include_tag ['jquery-1.3.1.min.js', 'wee.js'] %>
		<%#= javascript_include_tag :defaults %>
		<%= yield :head %>
	</head>
	
	<body class="<%= controller_name -%> <%= action_name -%>">
		<div class="page-container">
			
			<!--GLOBAL NAVIGATION-->
			
			<ul id="global-nav">
				<li><%= link_to 'Home', root_path %></li>
				<li><%= link_to 'Directory', directory_path %></li>
				<li><%= link_to 'Pricing', signup_path %></li>
				<li><%= link_to 'Help', help_path %></li>
				<!--<li><%= link_to 'Blog', posts_path %></li>-->
				<% if logged_in? %>
				  <li class="welcome">Hello, <span class="username"><%= link_to current_user.login, edit_user_path(current_user) %>!</span> | <%= link_to 'Logout', logout_path %></li>	
				<% end %>			
			</ul>
			
			<!--HEADER-->
			<div class="header-container">
				<%= link_to 'Home', root_path, :id => "header-logo" %>
				
				<% if logged_in? %>
				  <!--USER NAV (LOGGED IN) -->
  				<ul id="user-nav">
  					<li id="portfolio" class="<%= is_active?("edit", "portfolios") %>"><%= link_to 'Portfolio', edit_user_portfolio_path(current_user, current_user.portfolio) %></li>
  					<li id="design" class="<%= is_active?("edit", "designs")%>"><%= link_to 'Design', edit_user_design_path(current_user, current_user.design) %></li>
  					<li id="account" class="<%= is_active?("edit", "users")%>"><%= link_to 'Account', edit_user_path(current_user) %></li>
  					<li id="my-weefolio"><%= link_to 'My Weefolio', user_portfolio_path(current_user, current_user.portfolio) %></li>
  				</ul>
  			<% else %>
				  <!--USER NAV (LOGGED OUT)-->
				  <ul id="user-nav">
					  <li id="sign-up" class="<%= is_active?("new", "users")%>"<%= link_to 'Sign Up!', signup_path %></li>
					  <li id="or">or</li>
					  <li id="login"><%= link_to 'Login', login_path %></li>
				  </ul>
				<% end %>
			</div>
			
			<%= yield %>
			
			<!--FOOTER-->
			<div class="footer-container">
				<a id="footer-logo" href="#">Fancy Labs</a>
				
				<div id="legal">
					Brought to you by <strong><a href="http://fancylabs.com" target="_blank">Fancy Labs, LLC</a></strong> &copy; 2009
				</div>
				
				<ul id="footer-nav">
					<li><%= link_to 'Terms of Use', terms_of_use_path %></li>
					<li><%= link_to 'Privacy Policy', privacy_policy_path %></li>
					<li id="sign-up"><%= link_to 'Contact', contact_path %></li>
				</ul>
			</div>
		</div>
	</body>
	<%= yield :after_body %>
</html>
