<html>
	<head>
		<title><%= @page_title %></title>
		<%= render :partial => 'styles/form_css' %>
		<%= stylesheet_link_tag 'editable.css'%>
		<%= stylesheet_link_tag 'un-editable.css'%>
		<%= javascript_include_tag ['jquery-1.3.1.min.js', 'wee.js'] %>
	</head>
	
	<body class="">
		<div id="page-container">
			<div id="header-container">
				<!--<img src="#" width="710" height="100" alt="header-image">-->
				<% if @design.header_image %>
				  <%= image_tag @design.header_image.url(:header_format) %>
				<% end %>
			</div>
			
			<div id="tagline-container">
			  <% if @user.tag_line.blank? %>
				  <h1>Hello! My name is <a href="#"><%= @user.login %></a> and this is my Weefolio!</h1>
				<% else %>
				  <h1><%= @user.tag_line %></h1>
				<% end %>
			</div>
			
			<hr/>
			
			<div id="portfolio-container">
			  
			  <%= yield %>
			  
			<div id="info-container">
				<div id="about-container">
					<h2>About <%= @user.login %></h2>
					<p>
					  <%= @user.about_me%>
					</p>
				</div>
				
				<div id="contact-container">
					<h2>Contact <%= @user.login %></h2>
					
					<form action="mailto:#{@user.email}" method="post">
						<fieldset>
							<label for="#">Name</label>
							<input id="contact-name" type="text" name="#"/>
						</fieldset>
						
						<fieldset>
							<label for="#">Email</label>
							<input id="contact-email" type="text" name="#"/>
						</fieldset>
						
						<fieldset>
							<label for="#">Message</label>
							<textarea rows="5" id="contact-message" name="#"></textarea>
						</fieldset>
						
						<div id="contact-submit">
							<input type="submit" value="Send Message"/>
						</div>
					</form>
				</div>
			</div>
			
			<div id="footer-container">
				<a id="weefolio-logo" href="#">Weefolio</a>
			</div>
		</div>
	</body>
</html>