<div class="column primary">
<% form_for [@piece, @image_upload], :html => { :multipart => true } do |f| %>
  <% unless @image_upload.new_record? %>
  <fieldset>
    <legend>Edit Image</legend>
    
    <dl>
      <dt>
        <label>Image</label>
      </dt>
      
      <dd>
        <%= image_tag @image_upload.image.url(:small_thumb) %>
        <%= f.file_field :image, :class => 'file' %>
      </dd>
    </dl>
  </fieldset>
  <% else %>
  <fieldset>
    <legend>Add Image</legend>
    
    <dl>
      <dt>
        <label>Image</label>
      </dt>
      
      <dd>
        <%= f.file_field :image, :class => 'file' %>
      </dd>
    </dl>
  </fieldset>
  
  <% end %>
  
  <div class="submit" id="save">
    <%= f.submit "Save" %> or 
    <%= link_to "Cancel", piece_image_uploads_path(@piece) %>
  </div>


<% end %>
</div>