<div class="page-header-container-outer">
	<div class="page-header-container-inner">
		<h1><%= @piece.title %> <small>Images</small></h1>
		
		<div class="call-to-action">
		  <%= show_add_image(@piece) %>
		</div>
	</div>
</div>

<div class="content-container">
  
  <div class="column" >
    <% if flash[:warning] or flash[:notice] %>
  		<div id="notice" <% if flash[:warning] %>class="warning"<% end %>>
    <%= flash[:warning] || flash[:notice] %>
  		</div>
	  <% end %>
	
    <% if @piece.image_uploads.blank? %>
      <p>
        You don't have any images for this piece yet. Why don't you <%= link_to "add some", new_piece_image_upload_path(@piece) %>?
      </p>
    <% else %>
      <ul class="pieces" id="pieces">
      <% @piece.image_uploads.each do |upload| %>
        <li>
          <%= link_to image_tag(upload.image.url(:large_thumb)), edit_piece_image_upload_path(@piece, upload) %>
        </li>
        <ul class="piece-options">
					<li class="option" id="edit">
						<%= link_to 'Edit', edit_piece_image_upload_path(@piece, upload) %>
					</li>
					<li class="option" id="delete">
						<%= link_to 'Delete', piece_image_upload_path(@piece, upload), :confirm => "Are you sure?", :method => :delete %>
					</li>
				</ul>
      <% end %>
      </ul>
    <% end %>

    <p>
      <%= link_to "Back to Meta", edit_portfolio_piece_path(current_user.portfolio, @piece) %>
    </p>
  </div>
</div>